@model StarMap.Models.SaleModel
@using StarMap.Models
@using StarMap.Utilities
@using Resources
@{
    ViewBag.Title = (Model.Id != 0 ? Resources.Edit : Resources.Create) + " " + Resources.Sale.ToLower();
    var listCate = (List<StarMap.Models.Category>)ViewBag.Category;
    var lang = StarMap.Helpers.CultureHelper.GetCurrentCulture(true);
}

<link href="~/Content/FileInput.css" rel="stylesheet" />
<link href="/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
<div class="col-md-3">
    @Html.Partial("_AdminMenu")
</div>
<div class="col-md-9">
    <h3 class="page-header">@ViewBag.Title</h3>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)
        <div class="form-group">
            <label for="Name">@Resources.Name</label>
            @Html.TextBoxFor(model => model.Name, new { Class = "form-control" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="form-group">
            <label for="IsActive">@Html.CheckBox("IsActive", Model.IsActive) Is Active</label>
            @Html.ValidationMessageFor(model => model.IsActive)
        </div>
        <div class="row">
            <div class="col-sm-6">
                <label for="Location">@Resources.Location</label>
                @Html.TextBoxFor(model => model.Location, new { Class = "form-control" })
                @Html.ValidationMessageFor(model => model.Location)
            </div>
            <div class="col-sm-6">
                <label for="CategoryId">@Resources.Category</label>
                <select name="CategoryId" class="form-control">
                    @foreach (var item in listCate)
                    {
                        <option value="@item.Id" @(Model.CategoryId == item.Id ? "Selected" : "")>@item.Name</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.CategoryId)
            </div>
        </div>
        <br />
        <div class="form-group">
            <label for="Address">@Resources.Address</label>
            @Html.TextBoxFor(model => model.Address, new { Class = "form-control" })
            @Html.ValidationMessageFor(model => model.Address)
        </div>
        <div class="row">
            <div class="col-sm-6">
                <label for="StartDate">@Resources.StartDate</label>
                <input type="text" name="StartDate" value="@Common.GetLocaleDateTime(Model.StartDate, lang)" @*data-date-min-date="@Common.GetMinDate(Model.StartDate)"*@ id="startDate" class="typeDate form-control" />
            </div>
            <div class="col-sm-6">
                <label for="EndDate">@Resources.EndDate</label>
                <input type="text" name="EndDate" value="@Common.GetLocaleDateTime(Model.EndDate, lang)" id="endDate" class="typeDate form-control" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-6">
                <br />
                <label for="IsHot">@Html.CheckBox("IsHot", Model.IsHot ?? false) Is Hot</label>
                @Html.ValidationMessageFor(model => model.IsHot)
            </div>
            <div class="col-sm-6">
                <label for="Mobile">@Resources.Mobile</label>
                @Html.TextBoxFor(model => model.Mobile, new { Class = "form-control" })
                @Html.ValidationMessageFor(model => model.Mobile)
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-6">
                <label for="ThumbImage">@Resources.ThumbImage</label>
                <div class="form-group">
                    @Html.Partial("_ShowImage", new ImageModel
                    {
                        ImagePath = Model.ThumbImage,
                        ImageName = "thumbImagePathFile"
                    })
                </div>
                @Html.ValidationMessageFor(model => model.ThumbImage)
            </div>
            <div class="col-sm-6">
                <label for="DetailImage">@Resources.DetailImage</label>
                <div class="form-group">
                    @Html.Partial("_ShowImage", new ImageModel
                    {
                        ImagePath = Model.DetailImage,
                        ImageName = "detailImagePathFile"
                    })
                </div>
                @Html.ValidationMessageFor(model => model.DetailImage)
            </div>
        </div>
        <div class="form-group">
            <label for="ThumbDescription">@Resources.ThumbDescription</label>
            @Html.TextAreaFor(model => model.ThumbDescription, new { Class = "form-control", rows = "3" })
            @Html.ValidationMessageFor(model => model.ThumbDescription)
        </div>
        <div class="form-group">
            <label for="DetailDescription">@Resources.DetailDescription</label>
            @Html.TextAreaFor(model => model.DetailDescription, new { Class = "form-control", rows = "9" })
            @Html.ValidationMessageFor(model => model.DetailDescription)
        </div>
        <div class="clearfix"></div>
        <div class="form-group">
            <input type="submit" value="@Resources.Save" class="btn btn-primary" />
            @Html.ActionLink(Resources.Back, "Index", null, new { Class = "btn btn-default" })
        </div>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script src="~/Scripts/fileInput.js"></script>
        <script src="~/Scripts/moment-with-locales.js"></script>
        <script src="~/Scripts/bootstrap-datetimepicker.js"></script>
        <script>
            $(document).ready(function () {
                $('#endDate').datetimepicker({
                    locale: '@lang',
                    useCurrent: false,
                });

                $("#startDate").datetimepicker({
                    locale: '@lang',
                    useCurrent: false,
                }).on("dp.change", function (e) {
                    var startDate = new Date(e.date);
                    var endDate = $('#endDate').data("DateTimePicker").date();
                    $('#endDate').data("DateTimePicker").minDate(e.date);
                    if (endDate < startDate) {
                        $('#endDate').data("DateTimePicker").date(startDate);
                    }
                });
            });
        </script>
        @Html.Partial("_CheckFileImageExtension")
    }
</div>