@model StarMap.Models.CategoryModel
@using Resources
@using StarMap.Models
@{
    ViewBag.Title = (Model.Id != 0 ? Resources.Edit : Resources.Create) + " " + Resources.Category;
}

<link href="~/Content/FileInput.css" rel="stylesheet" />

<h3 class="page-header">@ViewBag.Title</h3>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    <div class="form-group">
        <label for="Name">@Resources.Name</label>
        @Html.TextBoxFor(model => model.Name, new { Class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name)
    </div>
    <div class="row">
        <div class="col-sm-6">
            <label for="Image">@Resources.Image</label>
            <div class="form-group">
                @Html.Partial("_ShowImage", new ImageModel
                    {
                        ImagePath = Model.Image,
                        ImageName = "imagePathFile"
                    })
                <div>
                    @Html.ValidationMessageFor(model => model.Image)
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="form-group">
        <input type="submit" value="@Resources.Save" class="btn btn-primary" />
        @Html.ActionLink(Resources.Back, "Index", null, new { Class = "btn btn-default" })
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/fileInput.js"></script>
    @Html.Partial("_CheckFileImageExtension")
}