@model IEnumerable<StarMap.Models.GoldPoint>
@using Resources

@{
    ViewBag.Title = Resources.GoldPointList;
    var listLabel = new[] { "", "default", "silver", "success", "info", "warning" };
}

<div class="col-md-3">
    @Html.Partial("_AdminMenu")
</div>
<div class="col-md-9">
    <h3 class="page-header">@ViewBag.Title</h3>
    <p>
        @Html.ActionLink(Resources.Create, "NewOrEdit", null, new { Class = "btn btn-primary" })
    </p>
    <table class="table">
        <tr>
            <th>
                @Resources.Name
            </th>
            <th>
                @Resources.Location
            </th>
            <th>
                @Resources.Category
            </th>
            <th>
                @Resources.Address
            </th>
            <th>
                @Resources.Rate
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            var rate = item.Rate.Split(new[] { '.' }, StringSplitOptions.RemoveEmptyEntries);
            string label;
            try
            {
                label = listLabel[int.Parse(rate[0])];
            }
            catch (Exception)
            {
                label = listLabel[0];
            }

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    <span class="label label-@label"> &nbsp;@item.Rate @*@Resources.Stars*@ <i class="glyphicon glyphicon-star"></i>&nbsp;</span>

                </td>
                <td>
                    <a href="@Url.Action("NewOrEdit", new {id = item.Id})" class="btn btn-default  btn-xs"><i class="glyphicon glyphicon-pencil"></i> @Resources.Edit</a>
                    <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger  btn-xs confirmDelete"><i class="glyphicon glyphicon-remove-circle"></i> @Resources.Delete</a>
                </td>
            </tr>
        }

    </table>
</div>