@model PagedList.IPagedList<StarMap.Models.GoldPoint>
@using Resources

@{
    ViewBag.Title = Resources.GoldPointList;
    var listLabel = new[] { "silver", "silver", "default", "success", "info", "warning" };
    var listRate = new[] { "0.5", "1", "1.5", "2", "2.5", "3", "3.5", "4", "4.5", "5" };
}
<h3 class="page-header">@ViewBag.Title</h3>
<div class="row">
    <div class="col-md-12">
        @Html.ActionLink(Resources.Create, "NewOrEdit", null, new { Class = "btn btn-primary" })
    </div>
</div>
<br />
<div class="row filterBox">
    @using (Html.BeginForm())
    {
        bool? status = ViewBag.status != null ? bool.Parse(ViewBag.status.ToString()) : null;

        <div class="col-md-2">
            <label>@Resources.Category</label>
            @Html.DropDownList("cateId", ViewBag.categoryList as SelectList, Resources.All, new { Class = "form-control" })
        </div>
        <div class="col-md-2">
            <label>@Resources.Status</label>
            <select name="status" class="form-control">
                <option value="">@Resources.All</option>
                <option value="true" @(status == true ? "selected" : "")>Active</option>
                <option value="false" @(status == false ? "selected" : "")> Inactive</option>
            </select>
        </div>
        <div class="col-md-2">
            <label>@Resources.Rate</label>
            <select name="rate" class="form-control">
                <option value="">@Resources.All</option>
                @foreach (var item in listRate)
                {
                    <option value="@item" @(ViewBag.rate as string == item ? "selected" : "")>@item </option>
                }
            </select>
        </div>
        <div class="col-md-4">
            <label>@Resources.SearchText</label>
            <input type="text" name="searchText" value="@ViewBag.searchText" class="form-control" />
        </div>
        <div class="col-md-1">
            <label></label>
            <input type="submit" name="submit" value="@Resources.Search" class="btn btn-primary" />
        </div>
    }
</div>
<br />
<table class="table">
    <tr>
        <th>
            @Resources.Name
        </th>
        <th>
            @Resources.Location
        </th>
        <th>
            @Resources.Category
        </th>
        <th>
            @Resources.Address
        </th>
        <th>
            @Resources.Rate
        </th>
        <th>
            @Resources.Status
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        var rate = item.Rate.Split(new[] { '.' }, StringSplitOptions.RemoveEmptyEntries);
        string label;
        try
        {
            label = listLabel[int.Parse(rate[0])];
        }
        catch (Exception)
        {
            label = listLabel[0];
        }

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <span class="label label-@label"> &nbsp;@item.Rate @*@Resources.Stars*@ <i class="glyphicon glyphicon-star"></i>&nbsp;</span>

            </td>
            <td>
                @if (item.IsActive)
                {
                    <label class="label label-success"><i class="glyphicon glyphicon-ok"></i> @Resources.Active</label>
                }
                else
                {
                    <label class="label label-danger"><i class="glyphicon glyphicon-remove"></i> @Resources.Inactive</label>
                }
            </td>
            <td>
                <a href="@Url.Action("NewOrEdit", new {id = item.Id})" class="btn btn-default  btn-xs"><i class="glyphicon glyphicon-pencil"></i> @Resources.Edit</a>
                <a href="@Url.Action("Delete", new {id = item.Id})" class="btn btn-danger  btn-xs confirmDelete"><i class="glyphicon glyphicon-remove-circle"></i> @Resources.Delete</a>
            </td>
        </tr>
    }

</table>
@Html.Partial("_Paging", Model)
