@using Resources
<h3 class="page-header">
    @Resources.Management
</h3>
<ul class="list-group" id="admin-menu">
    <li class="list-group-item"><a href="@Url.Action("Index","Category")"><i class="glyphicon glyphicon-th-list"></i> @Resources.Category</a></li>
    <li class="list-group-item"><a href="@Url.Action("Index", "GoldPoint")"><i class="glyphicon glyphicon-th-list"></i> @Resources.GoldPoint</a></li>
    <li class="list-group-item"><a href="@Url.Action("Index", "Sale")"><i class="glyphicon glyphicon-th-list"></i> @Resources.Sale</a></li>
    <li class="list-group-item"><a href="@Url.Action("Index", "Event")"><i class="glyphicon glyphicon-th-list"></i> @Resources.Event</a></li>
</ul>