<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Starmap PNJ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>*@
                    <li>@Html.ActionLink("API", "ShowAllApi", "Home")</li>
                </ul>
                @Html.Partial("_ChangeLanguage")
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <hr />
    <div class="container body-content">
        <footer>
            <p>&copy; @DateTime.Now.Year - StarMap PRJ</p>
        </footer>
    </div>
    <script>
        function getController() {
            return "/@(ViewContext.RouteData.Values["controller"] as String)";
        }
        function getAction() {
            return "/@(ViewContext.RouteData.Values["action"] as String)";
        }
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/Starmap.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
